* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333;
  color: aqua;
}

li {
  list-style-type: none;
}

a {
  color: #09ff0090;
  text-decoration: none;
}

a:hover {
  color: #09ff00;
}

aside {
  margin-top: 1rem;
  background-color: #60d79e21;
  width: 100%;
}

aside ul {
  display: flex;
}

aside li {
  padding: 1rem;
}

footer {
  background-color: #484a49;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
